.search-hero {
  width: 100%;
  min-height: 120px;
  background-color: #E7F0FF;
  position: relative; 
  background: linear-gradient(135deg, #2AA7FF, #0C8CE5);
}

.search1-wrapper {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 300px;
  color: white;
}
