
.event-container{
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h1 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
